* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    margin: 50px 0px 30px 0px;
    text-align: center;
    font-size: 40px;
}

header p {
     font-size: 20px;
}

.pads {
    background: lightgrey;
    width: 100%;
    display: flex;
}

.pads > div {
    height: 100px;
    width: 100px;
    flex: 1;
    text-align: center;
    line-height: 100px;
    font-size: 30px;
    color: rgba(0,0,0,0.3);
}

.pad0 {
    background: #78d1c5;
}

.pad1 {
    background: #d36060;  
}

.pad2 {
    background: #d360d3;
}

.pad3 {
    background: #c7d360;
}

.pad4 {
    background: #8ad360;
}

.pad5 {
    background: #6260d3;
}

@keyframes jump{
    0%{
        bottom: 0%;
    }
    50%{
        bottom: 50%;
    }
    100%{
        bottom: 0%;
    }
}

.visual > div {
    position: absolute;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    bottom: 0%;
    z-index: -1;
    transform: translateX(-50%);
}